@import url(chrome://annotationextension/skin/textbox.css);
@import url(chrome://annotationextension/skin/label.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.aeTypeTextbox {
  min-width: 300px;
}

[aeNotConfirmed="true"] {
  background-color: #fb7373 !important;
}

[anonid="confirm-box"] {
  height: 2em;
}

[anonid="confirm-label"]{
  color : #fb7373;
}