@import url(chrome://annotationextension/skin/textbox.css);
@import url(chrome://annotationextension/skin/label.css);
@import url(chrome://annotationextension/skin/tree.css);
@import url(chrome://annotationextension/skin/listbox.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/******************************************************************/
/* Some icons provided by Milosz Wlazlo - miloszwl.deviantart.com */
/******************************************************************/

/* Vzhled ikony do status baru a toolbarpanelu */
#aeButton {
  list-style-image: url('chrome://annotationextension/skin/icons/annotation24.png');
}

toolbar[iconsize="small"] #aeButton {
  list-style-image: url('chrome://annotationextension/skin/icons/annotation16.png');
}

#aeStatusBarPanel {
  list-style-image: url('chrome://annotationextension/skin/icons/annotation16.png');
  cursor: pointer;
  padding: 0px 3px;
}

/* Horni uzky panel (s tlacitkem zavrit, nastaveni...) */
#aeControlPanel {
  color: white;
  background-color: #888888;
}

/* Hlavni cast anotacniho okna */
#aeAnnotationContentRow1 {
  padding-top: 3px;
  background-color: #acacac;
}

#aeAnnotationContentRow2 {
  padding-bottom: 3px;
  background-color: #acacac;
}

/* Vyber typu */
#aeTypeSelect {
  margin: 3px;
  margin-right: 0;
  padding: 3px;
  background-color: #DDDDDD;
  border-radius: 4px 0 0 4px;
}

#aeTypeButton {
  margin: 3px;
  margin-left: 0;
  padding: 3px;
  background-color: #DDDDDD;
  border-radius: 0 4px 4px 0;
}

#aeTypeButton button {
  margin: 0;
  padding: 0;
}

#aeSaveDeleteAnnotBox{
  margin-top: 5px;
}

.redBox, .redBoxHover, .redBoxBlueBorder {
  margin: 3px;
  background-color: #FF6666;
  border-radius: 4px 4px 4px 4px;
}

.redBoxHover:hover{
  background-color: #ff8a8a;
  border: 2px solid #5959ff;
}

.redBoxBlueBorder {
  border: 2px solid #0000FF;
}

.textboxForURI {
  min-width: 300px;
}

/* Tlacitko dalsi vyber(vyber=oznaceny text ve Firefoxu) */
.aeSelectNext {
  margin: 0 4px 0 0;
  list-style-image: url("chrome://annotationextension/skin/icons/next24.png");
}

.aeSelectNext:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/next24dark.png"); 
}

.aeSelectNext:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/next24light.png"); 
}

/* Tlacitko dalsi vyber(vyber=oznaceny text ve Firefoxu) */
.aeSelectPrevious {
  margin: 0 0 0 4px;
  list-style-image: url("chrome://annotationextension/skin/icons/back24.png");     
}

.aeSelectPrevious:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/back24dark.png");     
}

.aeSelectPrevious:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/back24light.png");     
}

/*TLACITKA NA PRIDANI/ODEBRANI ANOTACE DO/Z VZBERU */
.aeAddAnnotSelection {
  width : 14px;
  height : 14px;
  margin: 0 0 0 3px;
  list-style-image: url("chrome://annotationextension/skin/icons/add16.png");
}

.aeAddAnnotSelection:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/add16dark.png");
}

.aeAddAnnotSelection:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/add16light.png");
}
  
.aeDeleteAnnotSelection {
  width : 14px;
  height : 14px;
  margin: 0 0 0 3px;
  list-style-image: url("chrome://annotationextension/skin/icons/delete24.png");
}

.aeDeleteAnnotSelection:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/delete24dark.png");
}

.aeDeleteAnnotSelection:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/delete24light.png");
}

/* Cast s atributy */
#aeAnnotationAttributes {
  background-color: #DDDDDD;
  padding : 5px;
}

/* SHOW SIDEBAR "BUTTON" */
#aeShowSidebarButton {
  margin: 0 0 0 3px;
  list-style-image: url("chrome://annotationextension/skin/icons/sidebar16.png");
}

#aeShowSidebarButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/sidebar16dark.png");
}

#aeShowSidebarButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/sidebar16light.png");
}

/* DOCUMENT ANNOTATION "BUTTON" */
#aeAnnotateDocumentButton {
  margin: 0 0 0 3px;
  list-style-image: url("chrome://annotationextension/skin/icons/document16.png");
}

#aeAnnotateDocumentButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/document16dark.png");
}

#aeAnnotateDocumentButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/document16light.png");
}

/* CLOSE "BUTTON" */
#aeCloseButton {
  margin: 0 4px 0 0px;
  list-style-image: url("chrome://annotationextension/skin/icons/close16.png");
}

#aeCloseButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/close16dark.png");
}

#aeCloseButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/close16light.png");
}

/* LOGOUT "BUTTON" */
#aeLogoutButton {
  border-right : 1px groove #000000;
  margin: 0 2px 0 0;
  padding: 0 2px 0 0;
  list-style-image: url("chrome://annotationextension/skin/icons/logout16.png");
}

#aeLogoutButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/logout16dark.png");
}

#aeLogoutButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/logout16light.png");
}

/* LOGIN "BUTTON" */
#aeLoginButtonP {
  border-right : 1px groove #000000;
  margin: 0 2px 0 0;
  padding: 0 2px 0 0;
  list-style-image: url("chrome://annotationextension/skin/icons/login16.png");
}

#aeLoginButtonP:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/login16dark.png");
}

#aeLoginButtonP:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/login16light.png");
}

/* CONFIGURE "BUTTON" */
#aeConfigureButton {
  border-right : 1px groove #000000;
  padding: 0 2px 0 0;
  list-style-image: url("chrome://annotationextension/skin/icons/configure16.png");
}

#aeConfigureButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/configure16dark.png");
}

#aeConfigureButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/configure16light.png");
}

/* BOX FOT SUGGEST ANNOTATIONS BUTTONS */
#aeSuggestButtonBox {
  margin: 0px 4px 0px 0px;
  padding: 1px 2px 1px 2px; 
  border: 0px solid #000000;
  background: #6a6a6a;
  border-radius: 3px 3px 3px 3px; 
}

/* SUGGEST ANNOTATIONS BUTTON */
#aeSuggestButton {
  width : 16px;
  height : 16px;
  list-style-image: url("chrome://annotationextension/skin/icons/suggestAnnotations22.png");
}

#aeSuggestButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/suggestAnnotations22dark.png");
}

#aeSuggestButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/suggestAnnotations22light.png");
}

/* SUGGEST END ANNOTATIONS BUTTON */
#aeSuggestEndButton {
  margin-left: 2px;
  width : 16px;
  height : 16px;
  list-style-image: url("chrome://annotationextension/skin/icons/suggestAnnotationsEnd22.png");
}

#aeSuggestEndButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/suggestAnnotationsEnd22dark.png");
}

#aeSuggestEndButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/suggestAnnotationsEnd22light.png");
}

/* CLEAR BUTTON */
#aeClearButton {
  margin-right: 6px;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  list-style-image: url("chrome://annotationextension/skin/icons/clear22.png");
}

#aeClearButton:hover {
  -webkit-box-shadow: 5px 5px 5px #444444;
  box-shadow: 5px 5px 5px #444444;
  list-style-image: url("chrome://annotationextension/skin/icons/clear22dark.png");
}

#aeClearButton:hover:active {
  -webkit-box-shadow: 5px 5px 5px #AAAAAA;
  box-shadow: 5px 5px 5px #AAAAAA;
  list-style-image: url("chrome://annotationextension/skin/icons/clear22light.png");
}

/* SAVE BUTTON DECK*/
#aeSaveButtonDeck {
  margin-right: 6px;
}

/* SAVE BUTTON */
#aeSaveButton {
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  list-style-image: url("chrome://annotationextension/skin/icons/save22.png");
}

#aeSaveButton:hover {
  -webkit-box-shadow: 5px 5px 5px #444444;
  box-shadow: 5px 5px 5px #444444;
  list-style-image: url("chrome://annotationextension/skin/icons/save22dark.png");
}

#aeSaveButton:hover:active {
  -webkit-box-shadow: 5px 5px 5px #AAAAAA;
  box-shadow: 5px 5px 5px #AAAAAA;
  list-style-image: url("chrome://annotationextension/skin/icons/save22light.png");
}

#aeSaveButtonRed {
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  list-style-image: url("chrome://annotationextension/skin/icons/save22red.png");
}

/* LOGIN "BUTTON" */
#aeLoginButton {
  list-style-image: url("chrome://annotationextension/skin/icons/login16.png");
  max-height: 28px;
  min-height: 28px; 
  height: 28px;
}

/* Obrazek na prihlasovacim okne */
#aeLoginImage {
  list-style-image: url("chrome://annotationextension/skin/icons/user2.png");
}

/* Mezera mezi obrazkem a tabulkou s prihlas. udaji v prihlasovacim okne.*/
#aeLoginSpacer {
  height: 20px;
}

/* Text: spatne prihlas. udaje v prihlasovacim okne. */
#aeIncorLoginBox {
  color: #FF0000;
  height: 20px;
}

/* Obrazek spatneho prihlaseni */
#aeIncorLoginImage {
  list-style-image: url("chrome://annotationextension/skin/icons/incorrect16.png");
}

/* Tabulka s prihlasovacim jmenem a heslem v prihlasovacim okne */
#aeLoginTable {
  /*background-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px; 
  border: 1px solid #000000;*/
}

/* TLACITKO PRO VYBER TYPU ATRIBUTU */
.aeAttributeTypeSelect {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}

/* POZADI PRI VYBERU ATRIBUTU */
.aeAttrTabPanel {
  background-color: #CCCCCC;
}

/* TLACITKO PRO VYBER VNORENE ANOTACE */
.aeSelectNestedAnnotButton {
  margin: 3px 0 0 0;
  padding: 0;
  color : green;
}

/* TLACITKO PRO VYBER VNORENE ANOTACE */
.aeSelectNestedAnnotButtonActive {
  margin: 3px 0 0 0;
  padding: 0;
  color : red;
}

/* TLACITKO PRO PRIDANI ATRIBUTU */
#aeAddAttributeButton {
  margin: 0 0 0 3px;
  width : 16px;
  height : 16px;
  list-style-image: url("chrome://annotationextension/skin/icons/add16.png");
}

#aeAddAttributeButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/add16dark.png");
}

#aeAddAttributeButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/add16light.png");
}

/* TLACITKO PRO SMAZANI ATRIBUTU */
#aeRemoveAttributeButton {
  margin: 0 0 0 3px;
  width : 16px;
  height : 16px;
  list-style-image: url("chrome://annotationextension/skin/icons/delete24.png");
}

#aeRemoveAttributeButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/delete24dark.png");
}

#aeRemoveAttributeButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/delete24light.png");
}

/* TLACITKO PRO PRIDANI ATRIBUTU DO ATRIBUTU */
#aeAddAttributeToAttrButton {
  margin: 0 0 0 3px;
  width : 16px;
  height : 16px;
  list-style-image: url("chrome://annotationextension/skin/icons/add16red.png");
}

#aeAddAttributeToAttrButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/add16redDark.png");
}

#aeAddAttributeToAttrButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/add16redLight.png");
}

/* GRIDS PRO VYBER ATRIBUTU */
.attrLabelColumn {
  width : 80px;
}

/* TLACITKO PRO PRIDANI TYPU ANOTACE */
.aeAddTypeButtonLeft {
  margin-left : 3px !important;
  margin-right : 3px !important;
  margin-top : 0px !important;
  margin-bottom : 0px !important;
  padding : 0px !important;
  width : 30px !important;
  height : 25px !important;
  max-height : 25px !important;
  min-height : 25px !important;
  max-width : 30px !important;
  min-width : 30px !important;
}

.aeAddSubtypeButtonRight {
  margin : 0 !important;
  padding : 0 !important;
  width : 30px !important;
  height : 25px !important;
  max-height : 25px !important;
  min-height : 25px !important;
  max-width : 30px !important;
  min-width : 30px !important;
}

#aeAddType {
  width : 16px;
  height : 16px;
  list-style-image: url("chrome://annotationextension/skin/icons/addType16.png");
}

/* TLACITKO PRO PRIDANI TYPU ANOTACE JAKO PODTYP */
#aeAddSubtype {
  width : 16px;
  height : 16px;
  list-style-image: url("chrome://annotationextension/skin/icons/addSubtype16.png");
}


/* TLACITKO PRO SMAZANI TYPU ANOTACE */
#aeRemoveType {
  margin: 2px 5px 0 0;
  width : 16px;
  height : 16px;
  list-style-image: url("chrome://annotationextension/skin/icons/delete24.png");
}

#aeRemoveType:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/delete24dark.png");
}

#aeRemoveType:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/delete24light.png");
}

#aeDefaultGroupAndSelectGroupBox {
  margin-top: 5px;
}

/* Default user group */
#aeDefaultUserGroupLabel {
  margin-right: 5px;
}

/* TLACITKO PRO PRIHLASENI KE SKUPINE */
#aeJoinGroupButton {
  margin-right: 5px;
  list-style-image: url("chrome://annotationextension/skin/icons/addUser22.png");
}

#aeJoinGroupButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/addUser22Dark.png");
}

#aeJoinGroupButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/addUser22Light.png");
}

/* TLACITKO PRO PRIHLASENI KE SKUPINE */
#aeLeaveGroupButton {
  margin-right: 5px;
  list-style-image: url("chrome://annotationextension/skin/icons/removeUser22.png");
}

#aeLeaveGroupButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/removeUser22dark.png");
}

#aeLeaveGroupButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/removeUser22light.png");
}


/* TLACITKO PRIDAT NOVE NASTAVENI */
#aeAddNewConfig {
  margin : 5px 5px 0px 0px;
  list-style-image: url("chrome://annotationextension/skin/icons/add22.png");
}

#aeAddNewConfig:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/add22dark.png");
}

#aeAddNewConfig:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/add22light.png");
}

/* TLACITKO PRIDAT NOVOU BARVU ANOTACE */
#aeAddNewColor {
  margin : 5px 5px 0px 0px;
  list-style-image: url("chrome://annotationextension/skin/icons/add22.png");
}

#aeAddNewColor:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/add22dark.png");
}

#aeAddNewColor:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/add22light.png");
}

/* TLACITKO PRIDAT NOVY ODBER ANOTACE */
#aeAddNewSubscription {
  list-style-image: url("chrome://annotationextension/skin/icons/add22.png");
}

#aeAddNewSubscription:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/add22dark.png");
}

#aeAddNewSubscription:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/add22light.png");
}

/* Ulozeni seznamu odberu */
#aeSaveSubscriptions.subscriptionsSaved {
  color: #70f062;
}

#aeSaveSubscriptions.subscriptionsChanged {
  color: #fa4545;
}


/*//////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
//////////////                 Zobrazeni anotaci                     ///////////
////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/
/* INFO "BUTTON"*/
#aeInfoButton {
  margin: 3px 3px 3px 3px;
  list-style-image: url("chrome://annotationextension/skin/icons/info16.png");
}

/* CLOSE "BUTTON" */
#aeCloseAnnotationButton {
  margin: 3px 3px 0 0;
  list-style-image: url("chrome://annotationextension/skin/icons/close16.png");
}

#aeCloseAnnotationButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/close16dark.png");
}

#aeCloseAnnotationButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/close16light.png");
}

/* DELETE "BUTTON" */
#aeDeleteAnnotationButton {
  margin: 3px 0 0 3px;
  list-style-image: url("chrome://annotationextension/skin/icons/deleteAnnotation16.png");
}

#aeDeleteAnnotationButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/deleteAnnotation16dark.png");
}

#aeDeleteAnnotationButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/deleteAnnotation16light.png");
}

/* EDIT "BUTTON" */
#aeEditAnnotationButton {
  margin: 3px 0 0 3px;
  list-style-image: url("chrome://annotationextension/skin/icons/editAnnotation16.png");
}

#aeEditAnnotationButton:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/editAnnotation16dark.png");
}

#aeEditAnnotationButton:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/editAnnotation16light.png");
}

/* BOX S POPISKEM, ZE SE JEDNA O NABIDNUTOU ANOTACI */
#ap-suggestbox {
  background-color: #fdfa80;
  border-radius: 4px 4px 0px 0px; 
  /*border: 1px solid #d2ef0c;*/
}

/* BOX S TLACITKEM PRO ULOZENI NABIDNUTE ANOTACE */
#ap-confirmbuttonbox {
  background-color: #fdfa80;
  border-radius: 0px 0px 4px 4px; 
  /*border: 1px solid #d2ef0c;*/
}

.ap-vbox-suggestion {
  border-radius: 4px 4px 4px 4px; 
  border: 3px solid #d2ef0c;
}

/* Panely anotaci v bocnim panelu */
.annotExtSidebarPanel {
  border : 2px solid #FFFFFF;
  margin : 3px;
  padding : 3px;
  background-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
}

.annotExtSidebarPanel:hover {
  background-color: #AAAAAA;
}

/** TOGGLE ANNOT BUTTON **/
.toggleAnnotationButtonDown {
  margin: 3px 3px 0 0;
  list-style-image: url("chrome://annotationextension/skin/icons/arrowDown16.png");
}

.toggleAnnotationButtonDown:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/arrowDown16.png");
}

.toggleAnnotationButtonDown:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/arrowDown16.png");
}

.toggleAnnotationButtonUp {
  margin: 3px 3px 0 0;
  list-style-image: url("chrome://annotationextension/skin/icons/arrowUp16.png");
}

.toggleAnnotationButtonUp:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/arrowUp16.png");
}

.toggleAnnotationButtonUp:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/arrowUp16.png");
}


/*//////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
//////////////                 INFOPANEL                             ///////////
////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/
.aeInfoPanel-text-desc {
  max-width: 600px;
}

.aeInfoPanel-close-button {
  list-style-image: url("chrome://annotationextension/skin/icons/close16.png");
}

.aeInfoPanel-close-button:hover {
  list-style-image: url("chrome://annotationextension/skin/icons/close16dark.png");
}

.aeInfoPanel-close-button:hover:active {
  list-style-image: url("chrome://annotationextension/skin/icons/close16light.png");
}


/******************************************************************************
 * Uzivatelske rozhrani atributu
 ******************************************************************************/
.spacerForAttrSecondColumn {
  -moz-box-flex : 4;
}

/******************************************************************************
 * AUTOCOMPLETE RICHLISTBOX
 ******************************************************************************/
#aeRichPopup hbox[anonid="title-box"] {
  color : #111111 !important;
  font-size : x-small !important;
}

#aeRichPopup *[anonid="title-box"] html|span.ac-emphasize-text {
  font-weight: normal !important;
  text-decoration: none !important;
}

#aeRichPopup *[anonid="title-box"] html|span.ac-emphasize-alt {
  text-decoration: none !important;
}


.aeFileBrokenImage {
  list-style-image: url("chrome://annotationextension/skin/icons/fileBroken48.png");
}

.aeCancelImage {
  list-style-image: url("chrome://annotationextension/skin/icons/cancel32.png");
}