box[type="aeTypeSelect"] {
  -moz-binding: url('chrome://annotationextension/content/bindings/typeSelect.xml#typeSelect');
}

box[type="aeTypeSelectLabel"] {
  -moz-binding: url('chrome://annotationextension/content/bindings/typeSelect.xml#typeSelectLabel');
}

box[type="aeTypeSelectButton"] {
  -moz-binding: url('chrome://annotationextension/content/bindings/typeSelect.xml#typeSelectButton');
}

box[type="suggestAnnotation"] {
  -moz-binding: url('chrome://annotationextension/content/bindings/suggestAnnotation.xml#aeSuggestPanel');
}