box.suggestAnnotation {
    -moz-binding: url('chrome://annotationextension/content/bindings/suggestAnnotation.xml#aeSuggestPanel');
}

.aeSuggestAnnotationSelectionBox {
  /*margin : 1px;
  padding : 1px;
  margin-top: 3px;
  margin-bottom: 3px;*/
  border-radius: 4px 4px 0 0;
  background-color: #BBBBBB;
}

.aeSuggestAnnotationSelectionBoxForDocument {
  background-color: #DDDDDD;
}

.aeSuggestAnnotationTypeBox {
  /*margin : 1px;
  padding : 1px;*/ 
  background-color: #BBBBBB;
  border-radius: 0 0 4px 4px;
}