@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* :::::::::: button :::::::::: */

.aeButton {
  -moz-appearance: none;
  margin: 2px 3px 2px 3px;
  min-width: 5.3em;
  border-radius: 2.5px;
  border: 1px solid rgb(154, 154, 154);
  box-shadow:  0px 1px 1px rgba(255, 255, 255, 0.2) inset, 0px 1px 3px rgba(0, 0, 0, 0.5);
  background: rgb(214, 214, 214)
              linear-gradient(rgba(228, 228, 228, 0.21), rgba(228, 228, 228, 0.13) 49%,
			  rgba(228, 228, 228, 0.094) 51%, rgba(228, 228, 228, 0.05));
  color: #000000;
  text-shadow: none;
}

.aeButton:hover {
  background: rgb(178, 178, 178)
              linear-gradient(rgba(97, 97, 97, 0.45), rgba(97, 97, 97, 0.15) 49%,
			  rgba(70, 70, 70, 0.12) 51%, rgba(70, 70, 70, 0.08));
  color: #000000;
  transition: .2s ease-in;
}

.aeButton .button-box {
  border: 1px solid transparent;
  padding-top: 1px;
  padding-bottom: 2px;
  -moz-padding-start: 3px;
  -moz-padding-end: 4px;
}

.aeButton .button-text {
  margin: 0 !important;
  text-align: center;
}

/* .......... focused state .......... */

.aeButton:focus {
  color :#000000 !important;
  text-shadow: 2px 2px 3px #ffffff;
  transition: .2s ease-in;
	border: 1px dotted rgb(140, 140, 140);
}

/* .......... active/open/checked state .......... */

.aeButton/*:hover*/:active,
.aeButton[open="true"],
.aeButton[checked="true"] {
  box-shadow: 0px 0px 5px rgba(4,4,4,1) inset,
			  0 1px 0 rgba(255,255,255,.1);
  transition: .2s ease-in;
}

.aeButton/*:hover*/:active > .button-box:-moz-system-metric(windows-classic),
.aeButton[open="true"] > .button-box:-moz-system-metric(windows-classic),
.aeButton[checked="true"] > .button-box:-moz-system-metric(windows-classic) {
  padding-top: 2px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 3px;
}

/* .......... disabled state .......... */

.aeButton[disabled="true"] {
  background: rgba(0, 0, 0, 0.075);
  border-radius: 3.5px;
  border: 1px solid rgba(10,10,10,1);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.25) inset;
  cursor:default;
  color: rgba(200,200,200,.25) !important;
}

.aeButton[disabled="true"]:-moz-system-metric(windows-classic) {
  /*color: ThreeDShadow;*/
  text-shadow: 1px 1px ThreeDHighlight;
}

.aeButton[disabled="true"] > .button-box {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  -moz-padding-start: 3px !important;
  -moz-padding-end: 4px !important;
}

/* ::::: menu/menu-button buttons ::::: */

.aeButton[type="menu-button"] {
  margin: 0;
  border: none;
}

.aeButton .button-menu-dropmarker,
.aeButton .button-menubutton-dropmarker {
  -moz-appearance: none !important;
  margin: 1px;
  background-color: transparent;
  border: none;
  width: 11px;
  height: 11px;
}

.aeButton .button-menubutton-dropmarker[open="true"] {
  margin-top: 2px;
  margin-bottom: 0px;
  -moz-margin-start: 2px;
  -moz-margin-end: 0px;
}

/* ::::: plain buttons ::::: */

.aeButton.plain {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.aeButton[type="disclosure"] {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  -moz-appearance: none;
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
  min-width: 0px !important;
  background-color: transparent;
}

.aeButton[type="disclosure"][open="true"] {
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}